<div class="row">
  <div class="col-sm-10">
     <div class="card-group">
        <div class="card" *ngFor="let image of imagesTopRow">
          <div class="card-header" (click)="selectImage(image);">
            <input class="form-check-input" type="checkbox" [name]="image.imageName" [value]="image.imageName" [id]="image.imageName" [(ngModel)]="image.selected">
            <label><h6 class="card-title">{{image.imageName}}</h6></label>
          </div>
          <div class="card-body">
            <div>
              <label *ngIf="image.multiPanel; else elseBlockMulti">Is multipanel: Yes</label>
              <ng-template #elseBlockMulti><label>Is multipanel: No</label></ng-template>
            </div>
            <div>
              <label *ngIf="image.hasChart; else elseBlockHasChart">Contains charts: Yes</label>
              <ng-template #elseBlockHasChart><label>Contains charts: No</label></ng-template>
            </div>
            <div>
              <label>Chart class: {{image.chartClass}}</label>
            </div>
            <img [src]="image.imageUrl" style="width: 100%; height: auto; max-width: 20em;" (click)="displayImage(image);">
          </div>
        </div>
    </div>
    <div class="card-group">
      <div class="card" *ngFor="let image of imagesBottomRow">
        <div class="card-header" (click)="selectImage(image);">
          <input class="form-check-input" type="checkbox" [name]="image.imageName" [value]="image.imageName" [id]="image.imageName" [(ngModel)]="image.selected">
          <label><h6 class="card-title">{{image.imageName}}</h6></label>
        </div>
        <div class="card-body">
          <div>
            <label *ngIf="image.multiPanel; else elseBlockMulti">Is multipanel: Yes</label>
            <ng-template #elseBlockMulti><label>Is multipanel: No</label></ng-template>
          </div>

          <div>
            <label *ngIf="image.hasChart; else elseBlockHasChart">Contains charts: Yes</label>
            <ng-template #elseBlockHasChart><label>Contains charts: No</label></ng-template>
          </div>

          <div>
            <label>Chart class: {{image.chartClass}}</label>
          </div>
          <img [src]="image.imageUrl" style="width: 100%; height: auto; max-width: 20em;" (click)="displayImage(image);">
        </div>
      </div>
    </div> 
  </div>

  <div class="col-sm-2">
      <div class="row"><button class="btn btn-success" style="margin-bottom: 2%;" (click)="acceptSelectedImages();" id="acceptBtn">Accept</button></div>
      <div class="row"><button class="btn btn-success" style="margin-bottom: 2%;" (click)="rejectSelectedImages();" id="rejectBtn">Reject</button></div>
      <div class="row"><button class="btn btn-success" style="margin-bottom: 2%;" (click)="selectAllImages();" id="selectAllBtn">Select All</button></div>
      <div class="row"><button class="btn btn-success" style="margin-bottom: 2%;" (click)="clear();" id="clearAllBtn">Clear All</button></div>
  </div>
</div>