<form #annotationForm="ngForm" (ngSubmit)="onSubmit();">
    <h6 style="text-align: center;">{{imageAnnotated.imageName}}</h6>
    <!--
        <div class="card text-center border-light">
        <div class="card-body">
            <h5 class="card-title">{{imageAnnotated.imageName}}</h5>
        </div>
        <img [src]="imageAnnotated.imageUrl" class="card-img-bottom" alt="..." style="max-width: 18rem; max-height:18rem;">
    </div>
-->
    <div style="width: 50%; margin: 0 auto;">
        <img [src]="imageAnnotated.imageUrl" (click)="displayImage();" style="width:100%; height: auto; max-width: 30em; max-height: 25em;">
    </div>
   
        <!--Filters-->
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Is multi-panel?</legend>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="panelRadio" id="panelRadio1" [value]="true" required [(ngModel)]="imageAnnotated.multiPanel">
                <label class="form-check-label" for="panelRadio1">
                Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="panelRadio" id="panelRadio2" [value]="false" [(ngModel)]="imageAnnotated.multiPanel">
                <label class="form-check-label" for="panelRadio2">
                No
                </label>
            </div>
        </div>
        

        <legend class="col-form-label col-sm-2 pt-0">Contains charts?</legend>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chartRadio" id="chartRadio1" [value]="true" required [(ngModel)]="imageAnnotated.hasChart">
                <label class="form-check-label" for="chartRadio1">
                Yes
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="chartRadio" id="chartRadio2" [value]="false" [(ngModel)]="imageAnnotated.hasChart">
                <label class="form-check-label" for="chartRadio2">
                No
                </label>
            </div>
        </div>

        <div *ngIf="imageAnnotated.hasChart && !imageAnnotated.multiPanel">
            <legend class="col-form-label col-sm-2 pt-0">Chart Type</legend>
            <div class="col-sm-10">
                <div class="form-check form-check-inline" *ngFor="let chart of chartTypes">
                    <input class="form-check-input" type="radio" [name]="chart.name" [id]="chart.id" [value]="chart.name" required [(ngModel)]="imageAnnotated.chartClass">
                    <label class="form-check-label" [for]="chart.id">
                    {{chart.name}}
                    </label>
                </div>
            </div>
        </div>    
    </fieldset>
    <br>
    <div >
        <button type="submit" class="btn btn-success col-sm-2" [disabled]="!annotationForm.form.valid">Annotate</button>
    </div>
</form>